.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
OrderFoodApp/Resource/YOLOv3.mlpackage/Data/com.apple.CoreML/YOLOv3.mlmodel
