<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Perizinan Untuk Lokasi</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>perizinan untuk merekam suara</string>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.lshinkuro.deeplinkHelper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>deeplink</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CreateTaskIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BrownieStencil.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-CondBold.ttf</string>
		<string>OpenSans-CondLight.ttf</string>
		<string>OpenSans-CondLightItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>NatureBeautyPersonalUse.ttf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>AssociatedDomains</key>
	<array>
		<string>applinks:yourdomain.com</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>otherapp</string>
		<string>anotherapp</string>
	</array>
</dict>
</plist>
